.section {

  &__top {

    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;


    &__title {

      font-family: 'Roboto', sans-serif;
      color: #ED7839;
      font-size: 20px;
      font-weight: 900;
      width: 70%;

      letter-spacing: 1px;

    }

    &__buttons {

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;



      div {

        display: flex;
        gap: 5px;

      }

      p {

        font-family: 'Roboto', sans-serif;
        color: #ED7839;
        letter-spacing: 0.5px;

      }


    }


    .button {

      height: 31px;
      width: 43px;
      background-color: #ED7839;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {

        background-color: #ed78398a;

      }

      &__download {

        height: 31px;
        width: 120px;
        background-color: #ED7839;
        border: none;
        border-radius: 4px;
        color: #ffff;

        font-family: 'Roboto', sans-serif;

        &:hover {

          background-color: #ed78398a;

        }

        cursor: pointer;

        img {

          margin-right: 5px;

        }
      }

    }

  }

}
