<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercicio Chuva</title>
  <link rel="stylesheet" href="./app.component.scss">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto&display=swap"
    rel="stylesheet">
</head>

<body>

  <aside class="container__side-bar">
    <div class="side-bar">
      <div class="side-bar__title">
        <h1>SLACA 2019</h1>
      </div>

      <img src="../assets/logo.png" alt="logo-slaca">

      <nav class="side-bar__menu">

        <ul class="side-bar__nav">
          <li class="side-bar__nav__item">
            <a href="">Apresentações</a>
          </li>
          <li class="side-bar__nav__item">
            <a href="">Comitês</a>
          </li>
          <li class="side-bar__nav__item">
            <a href="">Autores</a>
          </li>
          <li class="side-bar__nav__item">
            <a href="">Eixos temáticos</a>
          </li>
          <li class="side-bar__nav__item--active">
            <a href="">Trabalhos</a>
          </li>
          <li class="side-bar__nav__item">
            <a href="">Contato</a>
          </li>
        </ul>

      </nav>

    </div>

  </aside>

  <div class="container">

    <header class="header">

      <div class="header__container">

        <div class="header__title">
          <p class="text--sm">
            Anais do Simpósio Latino Americano de Ciências de Alimentos
          </p>
          <p class="text--md">
            Anais do 13° Simpósio Latino Americano de Ciências de Alimentos
          </p>
          <p class="text--sm">
            ISNN: 1234-5678
          </p>
        </div>

        <div class="header__avatar">
          <select name="lang" id="lang" class="header__select">
            <option value="">PT, BR</option>
            <option value="">EN, US</option>
          </select>
          <div class="header__avatar__text">
            <p class="text--sm">
              Bem Vindo!
            </p>
            <p class="text--xsm">
              alguem12@galoascience.com
            </p>
          </div>
          <img src="../assets/ImagemAvatar.png" alt="avatar">
        </div>

      </div>

    </header>



    <main class="container__main">

      <section class="section__top">
        <h2 class="section__top__title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre
          09
          e 15 anos, do município de Campinas/SP</h2>
        <div class="section__top__buttons">
          <div>
            <a href="">
              <button class="button__download"> <img src="../assets/.png" alt="">Download</button>
            </a>
            <a href="">
              <button class="button"> <img src="../assets/.png" alt=""></button>
            </a>
            <a href="">
              <button class="button"> <img src="../assets/doi.png" alt=""></button>
            </a>
          </div>
          <p class="text--sm">COMO CITAR ESSE TRABALHO?</p>
        </div>
      </section>

      <section class="section__video">

        <video src="" width="784" height="439" controls type="video/mp4"></video>

        <aside class="section__video__painel">

          <div class="section__video__painel__title">
            <h4 class="text--xmd">Detalhes</h4>
          </div>

          <div class="section__video__painel__text">
            <p class="text--xsm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod porro sunt inventore.
              Alias, ut sequi necessitatibus laborum soluta laudantium eos reiciendis error ad dicta odit impedit,
              deserunt cum repellat ea.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium iusto cupiditate odio illo sed porro
              eum numquam neque, temporibus ullam tenetur dolore aliquid perspiciatis et repellendus optio. Aspernatur,
              culpa voluptates!

              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut tenetur eligendi deleniti non quisquam
              impedit,
              ad cum recusandae dolores sit at quibusdam? Ad dolore praesentium veritatis veniam hic, sed
              aspernatur.lore

              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ex doloribus, possimus accusamus nam
              ipsa distinctio perspiciatis tempora minima qui consectetur modi nobis. Explicabo, illum quos incidunt
              recusandae ea neque.
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ut omnis at, amet deserunt maxime suscipit
              porro esse iure sint delectus qui tempora, quia quaerat atque nisi sunt, quibusdam temporibus?
            </p>
          </div>

        </aside>

      </section>

      <section class="section__resume">

        <div class="section__resume__title">
          <h4 class="text--xmd">Resumo</h4>
        </div>

        <div class="section__resume__text">
          <p class="text--xsm"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor,
            mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce
            auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.
            Donec
            finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis
            et
            non lorem. Sed id nisl metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.

            Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin
            dictum justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales
            id.
            Aliquam erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus
            urna libero, eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis
            diam
            ac porttitor. Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio.

            Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend
            vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui
            eget lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent
            blandit
            elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus
            at
            lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi
            vitae pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus,
            consectetur lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa.

            Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
            hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor
            at viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at
            malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem
            ipsum
            dolor sit amet, consectetur adipiscing elit.
          </p>

          <button class="btn-show-more" id="show-button" type="button">ver mais</button>
        </div>


      </section>

      <section class="section__discut">

        <div class="section__discut__title">
          <h4 class="text--xmd">Discussões</h4>
        </div>

        <div class="section__discut__new-topic">
          <h4 class="section__discut__new-topic__title">Compartilhe suas ideias ou dúvidas com os autores!</h4>
          <ul class="section__discut__new-topic__icons">
            <li><img src="../assets/icone1.png" alt=""></li>
            <li><img src="../assets/icone2.png" alt=""></li>
            <li><img src="../assets/icone3.png" alt=""></li>
          </ul>
          <p class="text--sm">Sabia que o maior estímulo no desnvolvimento científico e cultural é a curiosidade? Deixe
            seus
            questionamentos ou sugestões para o autor!</p>
          <button class="section__discut__new-topic__button btn-create-topic"><img src="../assets/icon - criar.png"
              alt="">criar
            tópico</button>
        </div>

        <div class="section__discut__card">
          <div class="section__discut__card__header">
            <h4>Assunto da pergunta aparece aqui</h4>
            <p>Carlos Henrique Santos</p>
          </div>
          <p class="section__discut__card__body">
            Comecinho da pergunta aparece aqui resente relato Inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo processo...
          </p>
          <div class="section__discut__card__footer">
            <ul class="section__discut__card__footer__icons">
              <li><a href=""><img src="../assets/mais informações.png" alt=""></a></li>
              <li><a href=""><img src="../assets/favoritar.png" alt=""></a></li>
              <li>
                <p class="text--xsm">1 like</p>
              </li>
              <li>
                <p class="text--xsm">1 Resposta</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="section__discut__card answered-topic">
          <div class="section__discut__card__header">
            <h4 class="ops-topic-subject">Assunto da pergunta aparece aqui</h4>
            <p>Carlos Henrique Santos</p>
          </div>
          <p class="section__discut__card__body">
            Comecinho da pergunta aparece aqui resente relato Inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo processo...
          </p>
          <div class="section__discut__card__footer">
            <ul class="section__discut__card__footer__icons">
              <li><a href=""><img src="../assets/mais informações.png" alt=""></a></li>
              <li><a href=""><img src="../assets/favoritar.png" alt=""></a></li>
              <li>
                <p class="text--xsm">1 like</p>
              </li>
              <li>
                <p class="text--xsm">1 Resposta</p>
              </li>
            </ul>
          </div>
        </div>



      </section>


    </main>

    <footer>
      <img src="../assets/imagem - footer.png" alt="">
    </footer>

  </div>

</body>







</html>
