<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercicio Chuva</title>
  <link rel="stylesheet" href="./app.component.scss">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <div class="header__title">
      <p class="text--sm">
        Anais do Simpósio Latino Americano de Ciências de Alimentos
      </p>
      <p class="text--md">
        Anais do 13° Simpósio Latino Americano de Ciências de Alimentos
      </p>
      <p class="text--sm">
        ISNN: 1234-5678
      </p>
    </div>

    <div class="header__avatar">
      <select name="lang" id="lang" class="header__select">
        <option value="">PT, BR</option>
        <option value="">EN, US</option>
      </select>
      <div class="header__avatar__text">
        <p class="text--sm">
          Bem Vindo!
        </p>
        <p class="text--xsm">
          alguem12@galoascience.com
        </p>
      </div>
      <img src="../assets/ImagemAvatar.png" alt="avatar">
    </div>

  </header>

  asi

</body>

</html>
