<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercicio Chuva</title>
  <link rel="stylesheet" href="./app.component.scss">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">

    <div class="header__container">

      <div class="header__title">
        <p class="text--sm">
          Anais do Simpósio Latino Americano de Ciências de Alimentos
        </p>
        <p class="text--md">
          Anais do 13° Simpósio Latino Americano de Ciências de Alimentos
        </p>
        <p class="text--sm">
          ISNN: 1234-5678
        </p>
      </div>

      <div class="header__avatar">
        <select name="lang" id="lang" class="header__select">
          <option value="">PT, BR</option>
          <option value="">EN, US</option>
        </select>
        <div class="header__avatar__text">
          <p class="text--sm">
            Bem Vindo!
          </p>
          <p class="text--xsm">
            alguem12@galoascience.com
          </p>
        </div>
        <img src="../assets/ImagemAvatar.png" alt="avatar">
      </div>

    </div>

  </header>

  <main class="container">
    <section class="section__top">
      <h2 class="section__top__title">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09
        e 15 anos, do município de Campinas/SP</h2>
      <div class="section__top__buttons">
        <div>
          <a href="">
            <button class="button__download"> <img src="../assets/.png" alt="">Download</button>
          </a>
          <a href="">
            <button class="button"> <img src="../assets/.png" alt=""></button>
          </a>
          <a href="">
            <button class="button"> <img src="../assets/doi.png" alt=""></button>
          </a>
        </div>
        <p class="text--sm">COMO CITAR ESSE TRABALHO?</p>
      </div>
    </section>

    <section class="section__video">

      <video src="" width="784" height="439" controls type="video/mp4"></video>

      <aside class="section__video__painel">

        <div class="section__video__painel__title">
          <h4 class="text--xmd">Detalhes</h4>
        </div>

        <div class="section__video__painel__text">
          <p class="text--xsm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod porro sunt inventore. Alias, ut sequi necessitatibus laborum soluta laudantium eos reiciendis error ad dicta odit impedit, deserunt cum repellat ea.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium iusto cupiditate odio illo sed porro eum numquam neque, temporibus ullam tenetur dolore aliquid perspiciatis et repellendus optio. Aspernatur, culpa voluptates!

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut tenetur eligendi deleniti non quisquam impedit, ad cum recusandae dolores sit at quibusdam? Ad dolore praesentium veritatis veniam hic, sed aspernatur.lore

            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus ex doloribus, possimus accusamus nam ipsa distinctio perspiciatis tempora minima qui consectetur modi nobis. Explicabo, illum quos incidunt recusandae ea neque.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam ut omnis at, amet deserunt maxime suscipit porro esse iure sint delectus qui tempora, quia quaerat atque nisi sunt, quibusdam temporibus?
          </p>
        </div>

      </aside>

    </section>

  </main>

</body>

</html>
