* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {

  &--xsm {

    font-size:12px;

  }

  &--sm {

    font-size: 14px;

  }

  &--xmd {

    font-size: 20px;
  }

  &--md {

    font-size: 22px;
  }

}

body {

  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 auto;

}

.header {

  max-width: 1146px;
  width: 100%;
  margin: 0 auto;
  background-color: #FDF1EB;

  &__container {

  max-width: 1059px;
  width: 100%;
  height: 68px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  }



 &__title {

  font-family: 'Roboto', sans-serif;

  color: #725C5C;

 }

 &__avatar {

  display: flex;
  align-items: center;
  gap: 8px;

    &__text{

      display: flex;
      flex-direction: column;
      align-items: end;

      font-family: 'Quicksand', sans-serif;

    }

  select {

    margin-right: 24px;

  }

 }

}

.container {

  max-width: 1146px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__main {

    max-width: 1059px;
    width: 100%;

  }

}

.section {

  &__top {

    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;


    &__title {

      font-family: 'Roboto', sans-serif;
      color: #ED7839;
      font-size: 20px;
      font-weight: 900;
      width: 70%;

      letter-spacing: 1px;

    }

    &__buttons {

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;


      div {

        display: flex;
        gap: 5px;

      }

      p {

        font-family: 'Roboto', sans-serif;
        color: #ED7839;
        letter-spacing: 0.5px;

      }


    }


    .button {

      height: 31px;
      width: 43px;
      background-color: #ED7839;
      border: none;
      border-radius: 4px;

      &__download {

        height: 31px;
        width: 120px;
        background-color: #ED7839;
        border: none;
        border-radius: 4px;
        color: #ffff;

        font-family: 'Roboto', sans-serif;

        img {

          margin-right: 5px;

        }
      }

    }

  }

}

.section__video {

  margin-top: 16px;

  display: flex;
  justify-content: space-between;

  &__painel {

    &__title {

      width: 242px;
      height: 45px;

      border: 1px solid #ECECEC;
      border-radius: 3px;
      padding: 8px 0 8px 10px;

      background-color: #FDF1EB;

      h4 {
        font-family: 'Roboto', sans-serif;
        color: #4E4E4E;
      }

    }

    &__text {

      width: 242px;
      height: 394px;
      padding: 10px;
      border: 1px solid #ECECEC;
      border-radius: 3px;

      overflow: auto;

      font-family: 'Quicksand', sans-serif;

    }

  }

}

.section__video__painel__text::-webkit-scrollbar {
  width: 3px;

}

.section__video__painel__text::-webkit-scrollbar-thumb {
  background-color: #8d8d8d56;
}

.section__video__painel__text::-webkit-scrollbar-track {
  background-color: #0000000e;
}

.section__resume {

  position: relative;

  margin-top: 32px;
  width: 100%;



  &__title {

    width: 100%;
    height: 45px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    padding: 8px 0 8px 10px;


    background-color: #FDF1EB;


    h4 {

      font-family: 'Roboto', sans-serif;
      color: #4E4E4E;

    }


  }

  &__text {

    font-family: 'Quicksand', sans-serif;

    border: 1px solid #ECECEC;
    border-radius: 3px;
    padding: 10px;

    height: 144px;
    overflow: hidden;
    position: relative;


  }


}

.section__discut {

  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #ECECEC;
  border-radius: 3px;

  &__title {

    width: 100%;
    height: 45px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    padding: 8px 0 8px 10px;


    background-color: #FDF1EB;

    h4 {

      font-family: 'Roboto', sans-serif;
      color: #4E4E4E;

    }


  }

  &__new-topic {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    margin: 12px 0 12px 0;

    width: 60%;


    &__title {

      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      color: #ED7839;


    }

    &__icons {

      list-style: none;

      display: flex;
      gap: 36px;

    }

  p {

    text-align: center;
    font-family: 'Quicksand', sans-serif;


  }

  &__button {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 133px;
    height: 32px;
    border-radius: 3px;
    border: none;

    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);

    box-shadow: 0px 2px 2px 0px #0000003D;
    color: #ffff;

    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;

  }

  }

&__card {

  width: 98%;

  border: 1px solid #E7E7E7;
  box-shadow: 0px 0px 8px 0px #0000001F;
  border-radius: 4px;

  padding: 24px;
  margin: 12px ;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {

    h4 {
      font-family: 'Quicksand', sans-serif;
      color: #ED7839;
      font-size: 16px;
      font-weight: 700;
    }

    p {

      font-family: 'Quicksand', sans-serif;
      color: #5C5C5C;
      font-size: 12px;
      font-weight: bolder;

    }

  }

  &__body {

    font-family: 'Quicksand', sans-serif;
    color: #5C5C5C;
    font-size: 14px;
    font-weight: 400;

  }

  &__footer {



    &__icons {

      list-style: none;

      display: flex;
      align-items: center;
      gap: 16px;

      p {

        font-family: 'Roboto', sans-serif;
        color: #5C5C5C;

      }
    }




  }



}

}

footer {

  width: 100%;

  margin: 36px auto 0 auto;

  display: flex;
  justify-content: center;


  }





.btn-show-more {

  position: absolute;
  bottom: 0;

}

.container__side-bar {

  width: 220px;

  box-shadow: 0px 0px 10px 0px #00000040;



}

.side-bar {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {

    width: 100%;
    height: 68px;

    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {

      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      color: #ffff;

    }

  }

  &__menu {

    width: 100%;

  }

  &__nav {

    list-style: none;


    &__item {

      border-bottom: 2px solid #E7E7E7;
      width: 100%;
      height: 33px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-left: 16px;

      &--active {

        border-bottom: 2px solid #E7E7E7;
        width: 100%;
        height: 33px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 16px;

        background: #FDF1EB;

        border-left: 5px solid #FFB455 ;

        a {

          text-decoration: none;
          font-family: 'Quicksand', sans-serif;
          color: #5C5C5C;
          font-size: 15px;
          font-weight: bolder;


        }

      }

      a {

        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        color: #5C5C5C;
        font-size: 15px;
        font-weight: bolder;


      }

    }

  }

}










